<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       
        <p> <h4>Hi,</h4> <br />
            I have created this weather app for learning purpose. <br />
            
        </p>

        <img class="portrait" src="/img/shelu.jpg">
    </div>
    
    {{>footer}}
</body>

</html>